.login_page{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 11000;
    width: 100%;
    height: 100%;
    display: none;
}
.bottom_page{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 11000;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.5;
}
#login_bg{
    width: 100%;
}
.login_page .close_btn{
    z-index: 11100;
    background: white;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.login_page .top_page{
    z-index: 11100;
    background: white;
    height: 90%;
    width: 30%;
    position: absolute;
    top: 5%;
    left: 35%;
}
.login_page #logo{
    position: absolute;
    width: 40%;
    z-index: 11100;
    left: 30%;
    top: 12%;
    border-radius: 10px;
}
div.layui-tab ul{
    border: none !important;
}
div.layui-tab ul  li.tab_li {
    border: none !important;
}
li.layui-this{
    border: none !important;
    color: orangered !important;
    font: bolder 16px "Consolas";
}
button.submit_btn1{
    width: 95%;
}
button.submit_btn{
    margin: 0 auto;
    background: orangered;
}
div.layui-show{
    padding: 40px 40px 0px 0px;
    border: 1px solid #f4f4f4;
    margin: 0px 20px;
    border-radius: 10px;

}
.layui-show .layui-form-item{
    margin-bottom: 30px;
}
div.notice_item{
    padding: 20px 40px;
}
div.notice_item li{
    margin-bottom: 10px;

}
div.notice_item li i{
    font-weight: bolder;
    color: orangered;
    margin-right: 10px;
}